OPENROUTER_API_KEY=your_api_key_here
OPENROUTER_BASE_URL=your_open_router_base_url
ANTHROPIC_LLM_MODEL=provider/model
GOOGLE_LLM_MODEL=provider/model
OPENAI_LLM_MODEL=provider/model
ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://prompt-quality-evaluator.agreeablemushroom-86623e38.eastus.azurecontainerapps.io,https://prompt-quality-app.niceforest-551e4f1a.eastus.azurecontainerapps.io